
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Barriecito&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Passero+One&family=Raleway:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

body{
  font-family: "Oswald", sans-serif;
}

